/* universal style */
html {
    font-family: 'Anek Latin', sans-serif;
    font-weight: 400;
}

html, body {
    padding: 0;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

/* header */
.header {
    display: inline-block;
    background-color: rgb(237, 237, 237);
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header h2 {
    margin: 20px;
}

.header img{
    height: 63px;
    width: 80px;
    position: absolute;
    right: 15px;
    top: 0px;
}

.banner {
    padding: 60px 60px 60px 0px;
    width: 100%;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-pure-color-watercolor-graffiti-gradient-background-board-design-board-design-image_66713.jpg);
}

.banner h1 {
    margin-left: 35px;
}

/* Navigation */
.nav {
    text-align: center;
}

nav ul {
    background-color: white;
}

.nav li {
    display: inline-block; 
}

.nav a {
    text-decoration: none;
    color: #5366ad;
    padding: 16px 40px;
    margin: 0 auto;
    transition: 0.5s;
}

.nav a:hover {
    background-color: rgba(103, 128, 219, 0.2);
    font-weight: 700;
}

/* Colors */
.color {
    height: 180px;
    margin: 100px 0;
    padding-left: 70px;
}

.color li {
    display: inline-block;
    text-align: center;
    line-height: 30px;
    padding: 30px 100px;
    font-weight: 400;
    margin-top: 30px;
}

.color .red {
    background-color: #db6f67;
}
.color .orange {
    background-color: #dba567;
}
.color .blue {
    background-color: #6780db;
}

.color .mint {
    background-color: #3EB489;
}

/*  Fonts */
.font {
    padding-left: 70px;
    margin:  100px 0;
}

.font div {
    display: inline-block;
    margin:  20px 30px;
}

.anek {
    font-family: 'Anek Latin', sans-serif;
}

.raleway {
    font-family: 'Raleway', sans-serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.lighter {
    font-weight: lighter;
}
.regular {
    font-weight: 400;
}
.bold {
    font-weight: 700;
}
.italic {
    font-style: italic;
}

.font li {
    list-style: none;
}

/* Text Style */
.text-style {
    padding-left: 70px;
    margin: 100px 0;
}

.text-style div {
    margin: 20px 30px;
}

.h1-style {
    font-weight: 400;
    font-size: 26px;
    font-family: 'Anek Latin', sans-serif;
}

.subheading-style {
    font-weight: 700;
    font-size: 16px;
    font-family: 'Playfair Display', serif;
}

.paragraph-style {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

/* Buttons */
.btns {
    padding-left: 70px;
    margin: 100px 0;
}
.btns p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.btns div {
    display: inline-block;
}
.btn {
    margin: 15px;
    padding: 7px 15px;
    font-weight: 700;
    border: 1px solid;
    border-radius: 12px;
    transition: 0.3s;
}
.btn:hover {
    cursor: pointer;
    border-width: 2px;
}
.btn-primary {
    background-color: #8ea7fe;
    border-color: #5366ad;
    color: #fff;
}
.btn-secondary {
    background-color: lightgray;
    border-color: gray;
}
.btn-success {
    border-color: #5db956;
    background-color: #4fdb62;
    color: #fff;
}
.btn-danger {
    border-color: darkred;
    background-color: red;
    color: #fff;
}
.btn-warning {
    border-color: #b98b56;
    background-color: #e99d45;
    color: #fff;
}
.btn-info {
    background-color: rgb(20, 213, 247);
    border-color: rgb(33, 153, 205);
}
.btn-dark {
    background-color: rgb(83, 79, 79);
    color: #fff;
    border-color: rgb(43, 42, 42);
}
.btn-link {
    background-color: white;
    color: rgb(0, 191, 255);
    border: 1px solid white;
    font-weight: 400;
}
.btn-exmp {
    margin-left: 120px;
    vertical-align: top;
    border: 1px solid brown;
    box-shadow: 3px 5px #888888;
}

/* Contact */
.contact{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(103, 128, 219, 0.2);
}

.contact-txt{
    float: left;
    padding-left: 30px;
}
.contact li {
    list-style: none;
    float: right;
    display: flex;
}

.contact li a {
    padding: 0px 30px;
}

.phone-number {
    padding: 7px 0;
}

.phone-number a {
    text-decoration: none;
    color: #5366ad;
}

.contact li a img {
    height: 30px;
    width: 30px;
} 
